.section {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /*margin-top: 220px; */
    width: 100%; 
    max-width: 1240px; 
    height: 223px;
    background-image: url("/./public/galleryback.jpg"); 
    background-size: cover; 
    background-position: center;
    border-radius: 25px 25px 25px 25px;
  }
  
  .section h2 {
    width: 705px;
    height: 68px;  
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 68.45px;
    text-align: center;
    color: white;  
  }