@import '../styles/_variables';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: $secondary-color;
    color: $secondary-color;
    width: 100%;    
    height: 68px;
    top: 40px;
    left: 100px;
    gap: 0px;
    opacity: 1;

    @media (max-width: 768px) {
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
        height: auto;
        top: 0;
        left: 0;
    }
}

.navbar__logo img {
    width: 210.32px;
    height: 68px;
    gap: 0px;
    opacity: 1;

    @media (max-width: 768px) {
        width: 145px;
        height: 47px;  
        margin-bottom: 0.5rem;
    }
}

.navbar__menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
        margin-left:2em;
        white-space: nowrap;
        flex-direction: row;
        align-items: center;
        
    }
}

.navbar__menu li {
    display: inline;

    @media (max-width: 768px) {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0.5rem 0;
    }
}

.navbar__menu a {
    color: $primary-color;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
    text-decoration: none;    
    position: relative;

    @media (max-width: 768px) {
        text-align: center;        
        width: 100%;
        font-size: 12px;
    }
}

.navbar__menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    transition: width 0.3s;
}

.navbar__menu a:hover::after {
    width: 100%;
}

.navbar__menu a:hover {
    background-color: $secondary-color;
    border-radius: 5px;
}
