@import '_variables';
@import 'Banner';
@import 'Dropdown';
@import 'Erreur';
@import 'Footer';
@import 'Gallery';
@import 'Section';
@import 'SectionApropos';
@import 'index';
@import 'App';
@import 'Apropos';
@import 'Erreur404';


html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
