@import '../styles/_variables';

.sectionApropos {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
    width: 100%; 
    max-width: 1240px; 
    height: 223px;
    background-image: url(#{$backgroundimg2}); 
    background-size: cover; 
    background-position: center;
    border-radius: 25px 25px 25px 25px;
  }
  
  