@import '../styles/_variables';
.logement-details {
  width:100%
}

.logement-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logement-main-info {
  flex: 1;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.logement-title {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: $primary-color;
  margin-bottom: 10px;
  margin-top: -20px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.logement-location {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: $primary-color;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.logement-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-top: 20px;
  gap: 10px;
}

.tag {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.logement-host {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction:row-reverse;
  gap: 5px;
  @media (max-width: 768px) {
    flex-direction: row-reverse;
  }
}

.host-picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;

  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
  }
}

.host-name {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: $primary-color;
  width: 50%;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.logement-rating {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  gap: 10px;
}

.star {
  font-size: 36px;
  color: #ddd;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.star.filled {
  color: $primary-color;
}

.logement-side-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
  margin-left: 20px;
  justify-content: space-between;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 20px;
    align-items: flex-start;
    width: 100%;
    flex-direction: row-reverse;
  }
}
